body{
    background-image: url(https://i.pinimg.com/originals/2a/80/10/2a80108b10784e431221a1ec39a14acc.jpg);
    padding-top: 50px;
    font-family: 'Amatic SC', cursive;
    
    font-weight: bolder;
}
#show-number{
    color: red;
    

}
.display-4{
    font-weight: bolder; 
}
.container{
    
    text-align: center;
    
}
.question2{
    font-weight: bolder;
    font-size: 50px;
}
.question{
    font-weight: bolder;
    font-size: 20px;
}
.start{
    font-weight: bolder;  
}
.submit{
    font-weight: bolder;  
}
.jumbotron{
    
    
}